<!DOCTYPE html>
<html
	xmlns:th="http://thymeleaf.org/"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/"
	layout:decorator="layout">

<th:block layout:fragment="content">
	<div class="col-xs-12 col-md-12">
		<a href="/tickets/new" class="btn btn-success">Cadastrar</a>
	</div>
	<div class="col-xs-12 col-md-12">
		<h5 class="mt-4 mb-4">Listando tickets</h5>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Criando em</th>
					<th>Finalizado</th>
					<th>Ações</th>				
				</tr>
			</thead>
			<tbody>
				<tr th:each="ticket : ${list}">
					<td th:text="${ticket.name}"></td>
					<td th:text="${#dates.format(ticket.created, 'dd/MM/yyyy')}"></td>
					<td th:switch="${ticket.finished}">
						<span th:case="${true}" class="badge badge-success" th:text="${ticket.finished}"></span>
						<span th:case="${false}" class="badge badge-danger" th:text="${ticket.finished}"></span>
					</td>
					<td>
						<a th:href="@{/tickets/{id}(id = ${ticket.id})}" class="btn btn-outline-secondary inline">Ver</a>
						<a th:href="@{/tickets/edit/{id}(id = ${ticket.id})}" th:if="${userLoggedIn.id == ticket.userOpen.id}" class="btn btn-info inline">Editar</a>
						<form th:action="@{/tickets/{id}(id = ${ticket.id})}" th:method="delete" th:if="${userLoggedIn.id == ticket.userOpen.id}" class="inline">
							<button type="submit" class="btn btn-danger">Excluir</button>
						</form>
						<!-- th:if="${userLoggedIn.id == ticket.userOpen.id}" -->
						<!-- Só vou ter opção de excluir ou alterar se o ticket for meu  -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>
	
</html>