<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org/" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">

<th:block layout:fragment="content">
	<div class="col-xs-12 col-md-12 text-center">
		<h1>403</h1>
	</div>
	<div class="col-xs-12 col-md-12 text-center">
		<h2>Opss!!! Você não tem permissão para essa funcionalidade...</h2>
		<h3>Por favor, volte!</h3>

		<a href="/" class="btn btn-outline-secondary">Aqui para voltar</a>
	</div>
</th:block>

</html>
